name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore

      - name: Test with coverage
        run: |
          dotnet test --no-build \
            --collect:"XPlat Code Coverage" \
            --results-directory TestResults

      - name: Find coverage report
        id: findcov
        run: |
          REPORT=$(find TestResults -type f -name 'coverage.cobertura.xml' | head -n1)
          if [ -z "$REPORT" ]; then
            echo "âŒ coverage.cobertura.xml no encontrado"
            exit 1
          fi
          echo "REPORT_PATH=$REPORT" >> $GITHUB_ENV

      - name: Install and execute Codacy Coverage Reporter
        env:
          CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
        run: |
          bash <(curl -Ls https://coverage.codacy.com/get.sh) report \
            -r "$REPORT_PATH"
